name: Terraform CI

on:
  pull_request:
    branches:
      - main

jobs:
  terraform-dev-networking:
    name: Terraform Dev Networking
    runs-on: ubuntu-latest

    env:
      AWS_REGION: eu-north-1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform fmt
        working-directory: environments/dev/eu-north-1/networking
        run: terraform fmt -check

      - name: Terraform init
        working-directory: environments/dev/eu-north-1/networking
        run: terraform init -input=false

      - name: Terraform validate
        working-directory: environments/dev/eu-north-1/networking
        run: terraform validate

      - name: Terraform plan
        working-directory: environments/dev/eu-north-1/networking
        run: terraform plan -input=false -no-color
